.composition {
    background-image: url('img/bg.jpg');
    background-size: 600px 400px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    width: 600px;
    height: 400px;
}

.planet-1 {
    position: absolute;
    top: 2%;
    right: 55%;
    width: 120px;
    height: 120px;
    z-index: 1;
}

.planet-2 {
    position: absolute;
    top: 20%;
    right: 66%;
    width: 150px;
    height: 150px;
    z-index: 4;
}

.planet-3 {
    position: absolute;
    top: 40%;
    right: 45%;
    width: 220px;
    height: 220px;
    z-index: 3;
}

.spaceship {
    position: absolute;
    top: 42%;
    right: 73%;
    width: 40px;
    height: 40px;
    z-index: 5;
}

.superman { 
    position: absolute;
    /* top: 82.5%;
    right: 10%; */
    top: 15%;
    right: 20%;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.asteroid {
    position: absolute;
    top: 15%;
    right: 20%;
    width: 62px;
    height: 62px;
    z-index: 2;
    
}

.ufo {
    position: absolute;
    top: 75%;
    right: 73%;
    width: 76px;
    height: 52px;
    z-index: 3;

}