
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Стили для header */
header {
    width: 33.33%; /* 1/3 ширины сайта */
    margin: 0 auto;
    display: flex;
    background-color: transparent;
    padding: 0;
}

.header-left {
    background-color: #ffb6a5;
    color: white;
    padding: 20px;
    text-align: center;
    width: 25%;
}

.header-right {
    background-color: #f0e68c;
    color: white;
    padding: 20px;
    text-align: center;
    width: 75%;
}

main {
    flex: 1;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    width: 33.33%; 
    flex-wrap: wrap; 
    background-color: white;
    padding: 0;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
/* 
.rectangle1 {
    background-color: #8ef254;
    width: 110%; 100% от ширины body 
    height: 33.33%;
} */

.rectangle1 {
    background-color: #8ef254;
    width: 120%;
    margin-left: -10%;
    margin-right: -10%; /* опционально для симметрии */
    height: 33.33%;
}
.rectangle2 {
    background-color: #f2af2d;
    width: 35%; 
    height: 33.33%;
}

.rectangle3 {
    background-color: #8773f2;
    width: 65%; 
    height: 33.33%;
}

.rectangle4 {
    background-color: #f25f68;
    width: 35%; 
    height: 33.33%;
}
/* 
.rectangle5 {
    background-color: #f2c332;
    width: 21.66%; 
    height: 33.33%;
} */

.rectangle6 {
    background-color: #94f2e5;
    width: 65%; 
    height: 33.33%;
}

/* .rectangle7 {
    background-color: #f28a22;
    width: 21.66%; 
    height: 33.33%;
} */

footer {
    background-color: #454545;
    color: white;
    padding: 20px;
    text-align: center;
    width: 33.33%; 
    margin: 0 auto; 
}

footer p {
    font-size: 1.1em;
}
